		/*HTML Style Structure*/

		/*== Header ==*/
		/*== Section ==*/
		 /*== Article ==*/
		 /*== Article ==*/
		/*== Footer ==*/



/*== BASICS ==*/

/*Reset CSS*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}
* {
box-sizing: border-box;
}
body {
font-family: Arial, Helvetica, sans-serif;
} 



/*==== STYLING Reference ACSS ====*/


/*== TYPOGRAPHY ==*/

.f1 { font-size: 1.5rem; }
.f1 { font-size: 3rem; }
.f2 { font-size: 2.25rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; }


.i {font-style: italic; }
.b {font-weight: bold; }
.underline { text-decoration: underline;}
.strike {text-decoration: line-through;}
.ttc {text-transform: capitalize;}
.ttu {text-transform: uppercase; }

.Lh\(f\) { line-height: 1.7rem;}
.Lh\(p\) { line-height: 1.4rem;}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont,'avenir next', avenir, helvetica,'helvetica neue',ubuntu, roboto, noto,'segoe ui', arial, sans-serif;}
.serif { font-family: georgia, times, serif; }
.code { font-family: Consolas, monaco, monospace; }
.courier { font-family: 'Courier Next', courier, monospace; }
.helvetica { font-family: 'helvetica neue', helvetica, sans-serif; }
.avenir { font-family: 'avenir next', avenir, sans-serif; }
.athelas { font-family: athelas, georgia, serif; }
.georgia { font-family: georgia, serif; }
.times { font-family: times, serif; }
.bodoni { font-family: "Bodoni MT", serif; }
.calisto { font-family: "Calisto MT", serif; }
.garamond { font-family: garamond, serif; }
.baskerville { font-family: baskerville, serif; }
.moda { font-family: 'Monda', sans-serif;}

/*== Margins ==*/
.Mt\(20\) {margin-top: 20px;}
.Ml\(5\) {margin-left: 5px;}


/*== STYLING ELEMENTS ==*/

/*== HEADER ==*/


.hdr_main {
background-color: #fff;
width:100%;
height: auto;
padding-bottom: 3%;
text-align: left;
font-size: 35px;
color: white;}

.hdr_logo img {
position: relative;
max-width:250px;
height: auto;}


/*== SECTION ==*/

/*Main*/
.sec-main__wrapper,
.sec-info__wrapper {
position: relative;
display: block;
margin: 0 auto;
width:100%;
margin-top: 2%;
border-top: 1px solid #777;
color:#2a2a2a;}

/*Main Navigation*/    
.sec-main__nav {
width: 100%;
height: auto;  
background: #fff;
margin-top: 2%;
text-align: center;}

/*Hamburger menu*/
.hamburger-menu__button,
.hamburger-menu__button span,
.hamburger-menu__slider,
.hamburger-menu__wrapper input {
display: none;}

/*Main Section Top Navigation List*/
.sec-main__nav ul > li {
position: relative;
display: inline-block;
list-style-type: none;
margin:1%;}


		/*Articles*/

/*Images: gallery and Thumbs*/
.img-responsive {
    display:block;
    max-width: 100%;                           
    margin: 0 auto;
    height: auto;}

.image-gallery {
    position: relative;
    float: left;
    display: block;
    width: 50%;
    margin-top:5%;}

.image-gallery .big-image {
    width: 80%;
    max-height: 80%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border: 1px solid #c4c4c4}

.image-gallery .big-image img:not(:first-child) {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: opacity 350ms;}

/*Images: Interaction*/
.image-gallery .big-image img#default {
    opacity: 1;}

.image-gallery .big-image img:target~img#default {
    opacity: 0;}

.image-gallery .big-image img:target {
    opacity: 1;}


.image-gallery .thumbs ul {
    margin: 2% auto;
    padding: 0;
    width:80%;
    transition: 999999s all;
    transform: translateX(0);
    display: flex;}

.image-gallery .thumbs li {
    display: flex;
    margin: auto;
    width: 100%;}

.image-gallery .thumbs li:nth-child(1) {
    margin:0 4px 0 2px;}

.image-gallery .thumbs li:nth-child(2) {
    margin:0 4px 0 2px;}

.image-gallery .thumbs li:nth-child(3) {
    margin: 0 4px 0 2px;}

.image-gallery .thumbs li:nth-child(4) {
    margin: 0 4px 0 2px;}

.image-gallery .thumbs li img {
    border: 1px solid #c4c4c4;
    width:100%;}

 .art-item__desc{
		width:45%;
		position: relative;
        display: inline-block;
		float:right;
        margin-top: 3%;
        margin-right: 5%;
		z-index: 1;}

/*== SECTION 2 ==*/
.item1,.item2 {
  display: block;
  width:100%;
  height: 40px;
  background-color: #333;
  text-align: left;
  padding: 20px 0 0 10px;
  margin-bottom: 1px;
  color:white;}
    
label:hover {
  cursor: pointer;
  text-decoration: underline;}
    
input{
  position: absolute;
  left: -999em;}

.ex1 .hide1,
.ex2 .hide2 {
  width:100%;
  padding: 0 0 0 10px;
  display:block;
  height: 200px; /* any arbitrary height but best at the minimum initial height you would want. */
  overflow: hidden;
  background: #cdcdcd;
 transition: all 0.5s ease;
  }

.inner1,
.inner2 {
  padding: 10px;}
    
.ex1 input[type="checkbox"]:checked + .hide1 {
  height: 0px;
  opacity: 0;
  display: block;
transition: all 0.5s ease;}
    
.ex2 input[type="checkbox"]:checked + .hide2 {
  height: 0px;
  opacity: 0;
  display: block;}

.taggle-div {position:relative; display: block; width: 50%;float: right;}

/*.taggle-box {width:90%;margin:20px auto;}

/* Labels for checked inputs 
input:checked + label {
color:#8D3D3D;
text-decoration: none;
font-weight: bold;
text-transform: uppercase;}
    
/* Remove Radio inptut circle& ul/li style*/

    
 /*Taggle Interaction
.taggle-box__default,
.taggle-box2,
.taggle-box3 {
  display: none;
  width: 100%;
  max-height: 100%;
  
}


#opt-in1:checked ~ .taggle-box__default {
  display: block;}
    
#opt-in2:checked ~ .taggle-box2 {
  display: block;
  margin-bottom: 10px;
  }

#opt-in3:checked ~ .taggle-box3 {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;}
    
    
ul {list-style: none;}
li {display: inline-block;margin-right: 15px;}
input {display:none;}
label {cursor: pointer;color:#8D3D3D;}
input:checked + label {text-decoration: none;}

/*Clear floats after the columns*/
.sec-main__wrapper:after {
content: "";
display: table;
clear: both;}

.sec-info__wrapper:after {
content: "";
display: table;
clear: both;
}
 


/*== FOOTER ==*/


/* Style the footer */
footer {
background-color: #777;
padding: 10px;
text-align: center;
color: white;}



/*== @MEDIA QUERIES  RESPONSIVE LAYOUT || for small screens ==*/


@media (max-width: 768px) {
		/*== BASICS ==*/
    
    .img-responsive {
    display:block;
    max-width: 100%;                           
    margin: 0 auto;
    height: auto;}

	nav, article {
		width: 100%;
		height: auto;}

	#hdr_line-break {
		width:100%;
		position:absolute;
		margin-top: 5%;}


		/*== HEADER ==*/


	.hdr_logo img {
		position: relative;
		display: block;
		margin: auto;
		width:300px;
		z-index: 3;}
    
    /*== SECTION(sm) ==*/
    
    .sec-main__wrapper{
        display: block;
        margin: 0 auto;
        position: relative;
        width:100%;
        margin-top: 2%;
        border-top: 1px solid #777;}
		/*Hamburger menu: STYLE*/
    
	.hamburger-menu {
        display: block;
        z-index: 90;
		height: auto;
		max-width: 300px;
		position: absolute;
		bottom:;
		left: 0;}
    
    .hamburger-menu__button {
		display: block;}

	.hamburger-menu__button div {
		
        width: 35px;
		height: 5px;
		background-color: #2a2a2a;
		margin: 6px 0;
		left:6px;
		top:15px;
		flex-direction:column;
		justify-content:center;
		position: relative;
		z-index: 90;}
	
	
	.hamburger-menu__button div:first-child{
		margin-top: 5%;}
	
	.hamburger-menu__button span:last-child {
		padding-bottom: 15px;}
	
	.hamburger-menu__wrapper {
		position: relative;
		height: 100%;
		overflow:visible;}
	
	.hamburger-menu__slider {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: auto;
		background-color: #fff;
		opacity: 1px;
		z-index: 5;
		transform: translateX(-310px);
		transition: transform 0.4s;
		text-align: left;
		padding-bottom: 45px;
        padding-top: 30%;}
    
	
	/*Hamburger menu: INTERACTION*/
	.hamburger-menu__wrapper input[type='checkbox'] {
		display: block;
		width: 40px;
		height: 40px;
		border: 1px solid black;
		opacity: 0;
		position: absolute;
		left: 0px;
		z-index: 90;
		cursor: pointer;}
	
	.hamburger-menu__wrapper input:checked ~ .hamburger-menu__button {
		background: none;}
    
    .hamburger-menu__wrapper input:checked .image-gallery div {
        opacity: 0.7;}
	
	.hamburger-menu__wrapper input:checked ~ .hamburger-menu__slider {
		transform:none;}


		/* Style the list inside the menu  */
	.sec-main__nav ul >li {
		display: none;}

		/*== SECTION ==*/

		/* Style the articles */

/*style Gallery/Thums images */
    .image-gallery {
        position: relative;
        margin: 10% auto;
        float: none;
        width:90%;}

    .image-gallery .big-image {
        width: 80%;
        max-height: 100%;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 10%;
        position: relative;
        border: 1px solid #c4c4c4;}
    
    .image-gallery .thumbs {
        position: relative;
        display: block;
        overflow: hidden;
        white-space:normal;
        margin: 0 auto;
        width: 100%;}

    .image-gallery .thumbs ul {
        position: relative;
        transition: 999999s all;
        transform: translateX(0);
        display: flex;}

    .image-gallery .thumbs li {
        width: 100%;}

        

    .image-gallery .thumbs li img {
        border: 1px solid #c4c4c4;}


    /*Item Description*/


    .art-item__desc{
		position: relative;
        display: block;
        width:90%;
		margin: 0 auto;
		margin-bottom: 20px;
        float: none;
		z-index: 1;}
    
    /*== SECTION 2 sm ==*/
    .taggle-div {width:100%;margin:auto; margin-bottom: 2%;}
    .taggle-box {width:90%;margin: 20 auto;}
    
}
